{% extends "store/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="mb-4">Products</h1>

{% if products %}
<div class="row">
    {% for p in products %}
        <div class="col-md-3 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }}</h5>
                    <p class="card-text">₹{{ p.price }}</p>
                    <a href="{% url 'product_detail' p.id %}" 
                    class="btn btn-sm btn-primary">View</a>

                     <form action="{% url 'add_to_cart' p.id %}"
                      method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit"
                            class="btn btn-sm btn-success">
                        Add to cart
                    </button>
                </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p>No products yet.</p>
{% endif %}
{% endblock %}
